@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@theme {
	--breakpoint-*: initial;
	--breakpoint-phone: 300px;
	--breakpoint-tablet: 640px;
	--breakpoint-laptop: 1024px;
	--breakpoint-desktop: 1280px;
}

body {
	font-family: 'Libre Baskerville', Baskerville, serif;
}
